theme = Catppuccin Mocha
font-family = CaskaydiaMono Nerd Font
font-size = 17
background-opacity = 0.95
{{ if eq .chezmoi.os "linux" -}}
gtk-titlebar = false
window-decoration = false
{{ end -}}
maximize = true

{{ if eq .chezmoi.os "darwin" -}}
macos-option-as-alt = true
{{ end -}}
keybind = ctrl+shift+r=clear_screen
keybind = shift+enter=text:\n
