[Desktop Entry]
Name=Kitty
Comment=A fast, feature-rich terminal emulator
Exec=kitty
Icon=kitty-whiskers
Terminal=false
Type=Application
Categories=TerminalEmulator;
